header {
  background-color: lightblue;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: solid;
  border-color: mistyrose;
  margin: 10px;
}

header > nav {
  margin: 10px;
}

@media (max-width: 350px) {
  header > nav {
    display: none;
  }
}

@media (max-width: 200px) {
  header {
    flex-direction: column;
  }
}
